@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Base Colors scheme
$bg-base        : #F7F8F8;
$base           : #474747;
$heading        : #1B2226;
$primary        : #1D9BF0; 
$primary-hover  : darken($primary, 10%); 
$secondary      : #54C796;
$secondary-bg   : #F2FBFF;
$line           : #1D9BF0;
$border         : #E1E1E1;
$bg-section     : #ECF8FF;
$white          : #ffffff;
$support        : hsl(0, 0%, 18%);
$icon-bg        : #FCFCFC;
$icon-border    : #E1E1E1;
$icon-path      : '../images/icons/';

$quote-bg       : #F3F7FA;
$success-bg     : #54C796;
$success-hover  : darken(#54C796, 10%);



$icon-certified           : 'certified.png';
$icon-minutes-reserved    : 'minutes-reserved.png';
$icon-support             : 'support.png';
$icon-unbiased-advice     : 'unbiased-advice.png';
$icon-contact             : 'icon-contact.png';
$icon-star                : 'star.png';
$icon-email               : 'email.png';
$icon-heart               : 'heart.png';
$icon-leftquote           : 'left-quote-sign.png';

:root{
  --color-bg-base        : #{$bg-base};
  --color-base           : #{$base};
  --color-heading        : #{$heading};
  --color-primary        : #{$primary}; 
  --color-primary-hover  : #{$primary-hover}; 
  --color-secondary      : #{$secondary};
  --color-secondary-bg   : #{$secondary-bg};
  --color-line           : #{$line};
  --color-border         : #{$border};
  --color-bg-section     : #{$bg-section};
  --color-white          : #{$white};
  --color-support        : #{$support};
  --color-icon-bg        : #{$icon-bg};
  --color-icon-border    : #{$icon-border};
  --color-quote-bg       : #{$quote-bg};
  --color-success        : #{$success-bg};
  --color-success-hover  : #{$success-hover};
}

.img-desktop-only{
  display: none;
}

body{
  @apply font-sans;
  color: var(--color-base);
  background: var(--color-bg-base);
}

h1,h2,h3,h4,h5,h6{
  @apply font-bold;
}

.btn{
  display: inline-block;
  padding: 15px 20px;
  @apply sm:transition;
}

.btn-primary,
.btn-primary-outline{
  @extend .btn;
}

.btn-min{
  min-width: 230px;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
  font-size: 0.75rem;
  
  &:hover{
    background: var(--color-primary-hover);
  }
}

.btn-success{
  background: var(--color-success);
  color: var(--color-white);
  font-size: 0.75rem;
  
  &:hover{
    background: var(--color-success-hover); 
  } 
}

.btn-primary-outline{
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  font-size: 0.875rem;
  background: var(--color-secondary-bg);
  
  &.btn__sm{
    padding-top:10px;
    padding-bottom: 10px;
  }

  &:hover{
    color: var(--color-white);
    background: var(--color-primary);
  }
}

.btn__lg{
  font-size: 14px;
}

.heading{
  @apply font-bold;
  font-size: 1.5rem;
  line-height: 1.15;
  margin-bottom: 1.875rem;
}

.headig_underline{
  display: inline-block;

  &:after{
    content: '';
    width:60px;
    height: 3px;
    background-color: var(--color-primary);
    display: block;
    margin: 12px auto 0;
    border-radius: 1px;
  }
}

.sub-heading{
  @apply font-normal;
  font-size: 1rem;
  line-height: 1.28;
  margin-bottom: 0.9375rem;
}

.check-list{
  font-size: 1.125rem;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 45px;
  margin-bottom: 45px;

  @media(max-width:667px){
    max-width: 240px;
    margin-left:auto;
    margin-right: auto;
  }

  li{

    &::before{
      display: inline-block;
      vertical-align: text-top;

      content: '';
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--color-primary);
      margin: 2px 12px 0 0;
    }

    margin-bottom: 1.5625rem;
  }
}

.btn__lg{
  font-size: 0.875rem;
  min-width: 260px;
  padding: 19px 30px;
}

@layer utilities {
  @variants responsive {
    .section-lg{
      padding: 9.0625rem 0;
    }

    .section-md{
      padding-top: 5rem;
      padding-bottom: 5rem;
    }

    .img-desktop-only{
      display:inline-block;
    }

    .btn-min{
      min-width: initial;
    }

    .heading{
      font-size: 1.75rem;
      margin-bottom: 2.1875rem;
    }

    .heading__lg{
      font-size: 2.5rem;
    }

    .heading__md{
      font-size: 2.125rem;
      margin-bottom: 1.5625rem;
    }

    .sub-heading{
      font-size: 1.375rem;
    }

    .sub-heading__lg{
      font-size: 1.75rem;
    }

    .sub-heading-lg{
      font-size: 1.375rem;
      line-height: 1.36;
    }

    .check-list{
      font-size: 1.25rem;
      font-weight:500;
    }

    .btn__lg{
      font-size: 0.875rem;
      min-width: 260px;
      padding: 19px 30px;
    }

    .content-step{
      padding-left:60px;
      margin-left:0;
    }

    .step-title{
      font-size: 1.25rem;
      line-height: 1.2;
    }

    .content-slot{
      .content-slot-description{
        margin-bottom: 0.3125rem;
      }

      .content-slot-description, 
      .content-slot-price{
        font-size: 1.25rem;
        line-height: 1.2;
      }

      .btn-wrap{
        margin-top: 1.875rem;
      }
    }

    .copyinfo{
      margin-top:5px;
    }
  }
}

// section
.section{
  padding: 50px 24px;
}

.spaced__lg{
  margin-bottom: 2.1875rem;
}

.content-card{
  @apply py-8 px-5 shadow-md bg-white sm:rounded-lg;

  @media(max-width: 640px){
    display: flex;

    .icon{
      min-width: 50px;
      margin-right: 20px;
    }
  }

  .icon{
    margin-bottom: 0.675rem;
  }

  .card-heading{
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 0.9375rem;
  }

  .card-description{
    font-size: 0.875rem;
    line-height: 1.42;
  }
}

// icons

.icon{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width:50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-icon{
  .icon{
    display: inline-block;
    margin-right: 12px;
  }
}

.icon-outline{
  background-color: var(--color-icon-bg);
  border: 1px solid var(--color-icon-border);
  @apply rounded-full;
}

.icon-certified{
  background-image: url('#{$icon-path+$icon-certified}'); 
}

.icon-minutes-reserved{
  background-image: url('#{$icon-path+$icon-minutes-reserved}'); 
}

.icon-unbiased-advice{
  background-image: url('#{$icon-path+$icon-unbiased-advice}'); 
}

.icon-support{
  background-image: url('#{$icon-path+$icon-support}'); 
}

.icon-contact{
  background-image: url('#{$icon-path+$icon-contact}'); 
  width: 19px;
  height: 19px;
  background-size: cover;
}

.icon-star{
  background-image: url('#{$icon-path+$icon-star}'); 
  width: 19px;
  height: 19px;
}

.icon-email{
  background-image: url('#{$icon-path+$icon-email}'); 
  width: 17px;
  height: 17px;
}

.icon-heart{
  background-image: url('#{$icon-path+$icon-heart}'); 
  width: 10px;
  height: 10px;
}


/* Sneek Peek Timeline */

.content-timeline{
 
}
.content-step{
  position: relative;
  counter-increment: css-counter 1;
  padding-left:22px;
  padding-bottom: 2.5rem;
  border-left: 2px solid #8C8C8C;
  margin-left: 24px;

  &::before{
    position: absolute;
    left: -13px;
    top: 0;
    width: 24px;
    height: 24px;
    content: counter(css-counter);
    background: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 0.75rem;
    line-height: 1;
    padding:6px;
    display: inline-block;
    text-align: center;
  }

  &:last-child{
    border-left-color: transparent;
  }
}

.step-title{
  position: relative;
  color: var(--color-heading);
  font-size: 1rem;
  margin-bottom: 0.4375rem;
}

.step-description{
  font-size: 0.875rem;
  line-height: 1.28rem;
}

/* Quotes */
.quote-card{

  @apply shadow-md sm:rounded-lg overflow-hidden;

  .quote-description{
    font-size: 0.875rem;
    line-height: 1.42;  
  }
  
  .quote-body{
    &:before{
      content: "";
      display: block;
      background: url('#{$icon-path+$icon-leftquote}') no-repeat; 
      width: 16px;
      height: 16px;
      margin:5px auto 15px;
    }

    @apply p-8;
    background: var(--color-quote-bg);
  }

  .quote-footer{
    @apply px-8 py-3;
    background: var(--color-white);
  }
}

.section-secondary{
  background: var(--color-bg-section);
}

.content-block-timeline{
  max-width: 380px;
}

.cta-section{
  padding-top: 40px;
  padding-bottom: 40px;

  .btn-wrap{
    .btn{
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  .cta-description{
    color : var(--color-white);
    margin-bottom: 25px;
  }
}

.footer-inner{
  padding: 20px 0;
}

.footer-logo{
  margin-right: 20px;
  font-size: 0.875rem;
  line-height: 1.28;
  vertical-align: middle;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-link-list{
  li{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.copyinfo{
  margin-top: 18px;
  margin-bottom: 5px;
}

.footer-link-list a,
.copyinfo{
  font-size: 0.875rem;
  line-height: 1.28;
}

.footer-link-list{

  .icon{
    margin-right: 10px;
  }

  a{
    color: var(--color-support);
  }

  li{
    margin-right: 25px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.header-inner{
  padding: 15px 0;
}

.nav{

  li{
    margin-right: 18px;

    &:last-child{
      margin-right: 0;
    }
  }

  a{
    font-weight: 700;
    font-size: 0.75rem;
    line-height: 1.33;
    text-transform: uppercase;
    @apply transition-all;
    min-width: 200px;
    text-align: center;
    border-width: 2px;
    border-color: var(--color-primary);
  }
}

.nav-primary-outline{
  background: #f8f8f9;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  &:hover{
    color: var(--color-white);
  }
}

.quote-user-img{
  background-color: #565656;
  width:20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  color: var(--color-white);
}

.quote-footer{
  @apply flex justify-between;
}

.quoute-stars{
  i{
    content:'';
    display: inline-block;
    width:12px;
    height: 12px;
    background-color: var(--color-primary);
    margin-right: 6px;

    &:last-child{
      margin-right: 0;
    }
  }
}